<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff">Add Product</h4>
</div>
<form th:action="@{~/product/save}" th:object="${product}" method="post">
	<div class="modal-body">
	<input type="hidden" th:field="*{id}">
		<div class="row">
	    	<div class="col-lg-12">
				<div class="form-group">
					<label>Product Code*</label>
					<input type="text" placeholder="AUTO GENERATED" readonly="readonly" th:field="*{code}" class="form-control">
				</div>
				<div class="form-group">
					<label>Product Name*</label>
					<input type="text" id="name" placeholder="Type Name" th:field="*{name}" class="form-control" onchange="nameValidation();">
					<span style="color:#DC143C;font-weight:bold" id="name-error"></span>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" id="description" placeholder="Type Description" th:field="*{description}" class="form-control" onchange="descValidation();"> 
					<span style="color:#DC143C;font-weight:bold" id="description-error"></span>
				</div>
			</div>
	    </div>
	</div>
	<div class="modal-footer justify-content-between">
		<button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Batal</button>
	</div>
</form>
<script type="text/javascript">
	function nameValidation()
	{
	  valueName = document.getElementById('name').value;
	  if(valueName!=""){  
		  document.getElementById("name-error").innerHTML = "";		
	  }
	  else{
		  document.getElementById("name-error").innerHTML = "Product Name tidak boleh kosong";
	  }
	}
	
	function descValidation()
	{
	  valueDesc = document.getElementById('description').value;
	  if(valueDesc!=""){  
		  document.getElementById("description-error").innerHTML = "";		
	  }
	  else{
		  document.getElementById("description-error").innerHTML = "Description tidak boleh kosong";
	  }
	 }
</script>

