<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff" th:text="${title}"></h4>
</div>

	<div class="modal-body">
		<div class="row">
	    	<div class="col-lg-6">
				<div class="form-group">
					<label>Souvenir Code*</label>
					<input type="text" th:field="*{souvenir.code}" class="form-control" readonly="readonly">
				</div>
				<div class="form-group">
					<label>Souvenir Name*</label>
					<input type="text" id="name" th:field="*{souvenir.name}" class="form-control" readonly="readonly" >
				</div>
			</div>
	    	<div class="col-lg-6">
	    		<div class="form-group">
					<label>Unit Name*</label>
	    			<input type="text" th:field="*{souvenir.unit.name}" class="form-control" readonly="readonly">
				</div>    				
				<div class="form-group">
					<label>Description</label>
					<input type="text" id="description" th:field="*{souvenir.description}" class="form-control" readonly="readonly">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Close</button>
	</div>

