<div class="modal-header">
    <h4 class="modal-title">Reject Reason</h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
	</button>
</div>
<form th:action="@{~/event/save}" th:object="${event}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{assignTo}">
    
    <textarea placeholder="Input Reject Reason" th:field="*{rejectReason}" class="form-control" rows="5"></textarea>
    
	<div class="modal-footer justify-content-between">
		<button type="submit" class="btn btn-primary">Reject</button>
	    <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Tidak</button>
    </div>
</form>	