<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff" th:text="${title}"></h4>
</div>

	<div class="modal-body">
		<div class="row">
	    	<div class="col-lg-6">
				<div class="form-group">
					<label>Company Code*</label>
					<input type="text" readonly="readonly" th:field="*{company.code}" class="form-control"> 
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" readonly="readonly" th:field="*{company.email}" class="form-control"> 
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" readonly="readonly" th:field="*{company.phone}" class="form-control"> 
				</div>
			</div>
	    	<div class="col-lg-6">
	    		<div class="form-group">
					<label>Company Name*</label>
					<input type="text" readonly="readonly" th:field="*{company.name}" class="form-control" required> 
				</div>		
				<div class="form-group">
					<label>Address</label>
					<textarea readonly="readonly" th:field="*{company.address}" class="form-control" rows="5"></textarea> 
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Close</button>
	</div>

