<form th:object="${m_user}">
	<table>	
		<tr>
		    <td>Role Name</td>
			<td th:each="item : ${m_user}"
				type="text" th:text="${item.roleId.Name}" class="form-control" readonly>
			<td>
		</tr>
		
		<tr>
			<td>Employee Name</td>
			<td th:each="item : ${m_user}"
				type="text" th:text="${item.employeeId.firstName} + ' ' + ${item.employeeId.lastName}" class="form-control" readonly>
			</td>
		</tr>
		
		<tr>
			<td>Username</td>
			<td><input type="text" th:field="*{Username}" class="form-control" readonly></td>
		</tr>
		
		<tr>
			<td>Password</td>
			<td><input type="password" value="*****************" class="form-control" readonly></td>
		</tr>
		
		<tr>
			<td>Retype Password</td>
			<td><input type="password" value="*****************" class="form-control" readonly></td>
		</tr>	
	</table>
	<tr>
		<button data-dismiss="modal">Cencel</button>
	</tr>
</form>
