<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
	<title>Latihan Spring Boot</title>
</head>
<body>
<div layout:fragment="content" class="container">
	
	<div class="square">
			<nav class="navbar">
	    		<h3>List Employee</h3>
			</nav>	
				<table id="user" class="table">
						<div class="col-lg-12" style="padding-bottom:5px;">
							<div class="col-lg-8">
							</div>
							<div class="col-lg-3" style="margin-left:23px;">
								<button onclick="tambahData()" class="btn btn-success" style="float:right">Add</button>
							</div>
							<div class="col-lg-1" >
							</div>
						</div>
					<div>
					<div class="col-lg-12" style="padding-left:20px; padding-right:0px;">
						<div class="col-lg-3" style="padding-left:5px; padding-right: 30px;">
							<input type="text" id="employeeId" class="form-control">
						</div>
						<div class="col-lg-3" style="padding-left:0px; padding-right:55px; margin-left:-25px;">
							<input type="text" id="employeeName" class="form-control">
						</div>
						<div class="col-lg-3" style="padding-left:35px; padding-right:45px; margin-left:-85px;">
							<input type="text" id="companyName" class="form-control">
						</div>
						<div class="col-lg-2" style="padding-left:0px; padding-right:55px; margin-left:-40px;">
							<input type="text" id="createdDate" class="form-control">
						</div>
						<div class="col-lg-2" style="padding-left:0px; padding-right:50px; margin-left:-50px;">
							<input type="text" id="createdBy" class="form-control">
						</div>
						<div class="col-lg-1" style="padding-left:5px; padding-right:0px; margin-left:-50px;">
							<button class="btn btn-warning" onclick="myFunction()">Seach</button>
						</div>							
							</div>
						</div>
					<thead>
						<tr>
							<th class="tabletd">No</th>
							<th class="tabletd">Employee</th>
							<th class="tabletd">Role</th>
							<th class="tabletd">Company</th>
							<th class="tabletd">Username</th>
							<th class="tabletd">Created Date</th>
							<th class="tabletd">Created By</th>
							<th class="tabletd">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${m_user}">
							<td class="tabletd" th:text="${item.Id}"></td>
							<td class="tabletd" th:text="${item.employeeId.firstName} + ' ' + ${item.employeeId.lastName}"></td>
							<td class="tabletd" th:text="${item.roleId.Name}"></td>
							<td class="tabletd" th:text="${item.employeeId.companyId.Name}"></td>
							<td class="tabletd" th:text="${item.Username}"></td>
							<td class="tabletd" th:text="${#dates.format(item.createdDate,'dd/MM/yyyy')}"></td>
							<td class="tabletd" th:text="${item.createdBy}"></td>
							<td class="tabletd">
								<button class="btn btn-warning" th:value="${item.Id}" onclick="detail(this.value)">O</button>
								<button class="btn btn-warning" th:value="${item.Id}" onclick="edit(this.value)">E</button>
								<button class="btn btn-danger" th:value="${item.Id}" onclick="deleted(this.value)">D</button>
							</td>	
						</tr>
					</tbody>
				</table>

				<script>
				
				function tambahData(){
					$.ajax({
						url:'/user/add',
						type:'get',
						contentType:'html',
						success:function(result){
							$(".modal-title").html("Form Add User");
							$(".modal-body").html(result);
							$("#mymodal").modal("show");
						}
					})
				}
				
				function edit(id) {
					$.ajax({
						url:'/user/edit/'+id,
						type:'get',
						contentType:'html',
						success:function(result){
							$(".modal-title").html("Form Edit User");
							$(".modal-body").html(result);
							$("#mymodal").modal("show");
						}
					})
				}
				
				function detail(id) {
					$.ajax({
						url:'/user/detail/'+id,
						type:'get',
						contentType:'html',
						success:function(result){
							$(".modal-title").html("Form Detail User");
							$(".modal-body").html(result);
							$("#mymodal").modal("show");
						}
					})
				}
				
				function deleted(id){
					$.ajax({
						url:'/user/delete/'+id,
						type:'get',
						contentType:'html',
						success:function(result){
							$(".modal-title").html("Delete Data?");
							$(".modal-body").html(result);
							$("#mymodal").modal("show");
							
						}
					})
				}
				
				function deleteds(id){
					$.ajax({
						url: "/user/deletedata/"+id,
						type: "post",
						success:function(){
							windows.location.reload(1);
						},
						error:function(e){
							alert(e.responseText);
						}
					})
				}
				
				function myFunction() {
					  var x = document.getElementById("employeeId").name;
					  document.getElementById("${item.Id}").innerHTML = x;
					}
				
				</script>
	</div>			

</div>
</body>
</html>