<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff">Add Company</h4>
</div>
<form th:action="@{~/employee/save}" th:object="${employee}" method="post">
	<div class="modal-body">
	<input type="hidden" th:field="*{id}">
		<div class="row">
	    	<div class="col-lg-6">
				<div class="form-group">
					<label>Emp ID Number*</label>
					<input type="text" placeholder="Type Emp ID Number" th:field="*{code}" class="form-control">
				</div>
				<div class="form-group">
					<label>First Name*</label>
					<input type="text" id="name" placeholder="Type First Name" th:field="*{firstName}" class="form-control" onfocus="nameValidation()" oninput="nameValidation()" required>
					<span style="color:#DC143C;font-weight:bold" id="name-error"></span>
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" placeholder="Type Last Name" th:field="*{lastName}" class="form-control"> 
				</div>
			</div>
	    	<div class="col-lg-6">
	    		<div class="form-group">
					<label>Company Name*</label>
	    			<select th:field="*{mCompanyId}" class="form-control">
						<option value="">- Select Company Name-</option>
						<option th:each="companyNameDDl : ${companyList}" th:value="${companyNameDDl.id}" th:text="${companyNameDDl.name}"></option>
					</select>
				</div>    				
				<div class="form-group">
					<label>Email</label>
					<input type="email" id="email" placeholder="Type Email" th:field="*{email}" class="form-control" onchange="emailValidation();">
					<span style="color:#DC143C;font-weight:bold" id="email-error"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer justify-content-between">
		<button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Batal</button>
	</div>
</form>
<script type="text/javascript">
	function emailValidation()
	{
	  value = document.getElementById('email').value;	  
	  if(value!=""){
	      filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		  if(filter.test(value)){
		      document.getElementById("email-error").innerHTML = "";
		      return true;
		    } else {
		      document.getElementById("email-error").innerHTML = "Invalid Email Address";
		      return false;
		  }
	  }
	  else{
	      document.getElementById("email-error").innerHTML = "";
	  }
	}
	function nameValidation()
	{
	  valueName = document.getElementById('name').value;
	  if(valueName!=""){  
		  document.getElementById("name-error").innerHTML = "";		
	  }
	  else{
		  document.getElementById("name-error").innerHTML = "Nama tidak boleh kosong";
	  }
	}
	
	function phoneValidation()
	{
	  valuePhone = document.getElementById('phone').value;
	  if(valuePhone!="")
	  {  
	  	res = /^[\d\-\(\)]+$/;
		if(res.test(valuePhone)){
		  	document.getElementById("phone-error").innerHTML = "";
		}
	  	else{
			document.getElementById("phone-error").innerHTML = "Tidak boleh ada huruf / format contoh (021)-23456"; 
	  	}
	  }
	  else
	  {
		  	document.getElementById("phone-error").innerHTML = "";
	  }
	 }
</script>

