<div class="modal-header">
    <h4 class="modal-title">Delete Data ?</h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
	</button>
</div>
<form th:action="@{~/role/deletedata}" th:object="${role}" method="post">
    <input type="hidden" th:field="*{id}">
	<div class="modal-footer justify-content-between">
		<button type="submit" class="btn btn-primary">Delete</button>
	    <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Tidak</button>
    </div>
</form>