<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff" th:text="${title}"></h4>
</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label>Role Code*</label>
					<input type="text" readonly="readonly" th:field="*{role.code}" class="form-control">
				</div>
				<div class="form-group">			
					<label>Role Name*</label>
					<input type="text" readonly="readonly" th:field="*{role.name}" class="form-control">
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" readonly="readonly"th:field="*{role.description}" class="form-control" rows="5"> 
				</div>
				<div class="form-group">
				<div class="modal-footer justify-content-between">
			        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Close</button>
				</div>
				</div>
			</div>
		</div>
	</div>
	

