<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff" th:text="${title}"></h4>
</div>
<form th:action="@{~/role/save}" th:object="${role}" method="post">
	<div class="modal-body">
	<input type="hidden" th:field="*{id}">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label>Role Code*</label>
					<input type="text" placeholder="AUTO GENERATED" readonly="readonly" th:field="*{code}" class="form-control">
				</div>
				<div class="form-group">			
					<label>Role Name*</label>
					<input type="text" id="name" placeholder="Type Role Name" th:field="*{name}" class="form-control" onfocus="nameValidation()" oninput="nameValidation()" required>
					<span style="color:#DC143C;font-weight:bold" id="name-error"></span>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" placeholder="Type Description" th:field="*{description}" class="form-control" rows="5"> 
				</div>
				<div class="form-group">
				<div class="modal-footer justify-content-between">
					<button type="submit" class="btn btn-primary">Update</button>
			        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Batal</button>
				</div>
				</div>
			</div>
		</div>
</form>
<script type="text/javascript">
	function nameValidation()
	{
	  valueName = document.getElementById('name').value;
	  if(valueName!=""){  
		  document.getElementById("name-error").innerHTML = "";		
	  }
	  else{
		  document.getElementById("name-error").innerHTML = "Nama tidak boleh kosong";
	  }
	}
</script>



